@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KTEGAKI";
  src: url("../public/fonts/KTEGAKI.ttf");
}

@font-face {
  font-family: "Oldenburg";
  src: url("../public/fonts/Oldenburg-Regular.ttf");
}
